node_modules
.env
.DS_Store
dist
.vite/
.tsbuildinfo

# Editors
.vscode/
.idea/
*.swp
*.swo
.sourcemaps/

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.html
coverage
